Smart_Health_Monitoring/Node_REd_flow/Smart_Health_Monitoring.txt
[{"id":"b34ef48d.945008","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fb0ca6e5.23f8e8","type":"ibmiot in","z":"b34ef48d.945008","authentication":"apiKey","apiKey":"c58c1035.2a923","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"IOT0203","applicationId":"","deviceType":"IOT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":260,"wires":[["4c58f208.e8affc","3733ab32.a464d4"]]},{"id":"4c58f208.e8affc","type":"function","z":"b34ef48d.945008","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nglobal.set(\"temperature\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["e386c2a9.c2153","8083761a.473c58"]]},{"id":"e386c2a9.c2153","type":"ui_gauge","z":"b34ef48d.945008","name":"","group":"4873f573.5605ac","order":6,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":280,"wires":[]},{"id":"3733ab32.a464d4","type":"function","z":"b34ef48d.945008","name":"heart rate","func":"msg.payload=msg.payload.d.signal\nglobal.set(\"signal\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":320,"wires":[["bb5344e0.113ad8","8083761a.473c58"]]},{"id":"bb5344e0.113ad8","type":"ui_gauge","z":"b34ef48d.945008","name":"","group":"4873f573.5605ac","order":7,"width":0,"height":0,"gtype":"gage","title":"Heart rate","label":"BPM","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":380,"wires":[]},{"id":"8083761a.473c58","type":"debug","z":"b34ef48d.945008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":140,"wires":[]},{"id":"37013724.5210b8","type":"http in","z":"b34ef48d.945008","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":249,"y":430,"wires":[["47e6eac2.5c9934"]]},{"id":"47e6eac2.5c9934","type":"function","z":"b34ef48d.945008","name":"","func":"msg.payload={\"temperature\":global.get(\"temperature\"),\"signal\":global.get(\"signal\")}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["6d3dd03c.472da"]]},{"id":"6d3dd03c.472da","type":"http response","z":"b34ef48d.945008","name":"","statusCode":"","headers":{},"x":810,"y":500,"wires":[]},{"id":"c58c1035.2a923","type":"ibmiot","z":"","name":"Manoj1302","keepalive":"60","serverName":"5rxjjv.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4873f573.5605ac","type":"ui_group","z":"","name":"manoj1302","tab":"6e0a11ed.0662f","disp":true,"width":"6","collapse":false},{"id":"6e0a11ed.0662f","type":"ui_tab","z":"","name":"Manoj1302","icon":"dashboard","disabled":false,"hidden":false}]